/*fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --free-seat: #444451;
    --selected-seat: #279ca7;
    --occupied-seat: rgb(182, 0, 0);
}

body {
    margin: 0;
    background-color: #242333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Lato', sans-serif;
}

.customer {
    display: flex;
    flex-direction: column;
}

.customer input {
    margin-bottom: 2%;
}

.movie-container {
    margin: 20px 0;
    font-size: 17px;
}

/*Movie selection*/
.movie-container select .input {
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 15px;
    padding: 5px 15px;
}

.row {
    display: flex;
}

.container {
    perspective: 1500px;
    margin-bottom: 50px;
}

/*seats */
.seat {
    background-color: var(--free-seat);
    height: 12px;
    width: 15px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: var(--selected-seat);
}

.seat.occupied {
    background-color: var(--occupied-seat);
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(2) {
    margin-left: 20px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    border-radius: 5px;
    color: #777;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 5px;
}

.screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
    transform: rotateX(-40deg);
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #0caa13;
}